<h2>Post Here!!</h2>
<form action="/post/create">
  작성자 : <input type="text" name="username" />
  제목 :<input type="text" name="title" placeholder="title input here"/>
  내용 : <textarea name="content"></textarea>
  <input type="submit" value="click">
</form>
